.footer {

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 78px;
        border-bottom: 1px solid $bg-green;
    }

    &__main {
        max-width: 304px;
    }

    &__p {
        margin-top: 19px;
        font-family: 'Inter';
        font-size: 16px;
    }

    &__other-item {
        margin-top: 19px;
    }

    &__other-item-header {
        font-family: 'ReadexPro';
        font-size: 22px;
    }

    &__other-link {
        text-decoration: none;
        font-size: 16px;
        font-family: 'Inter';
        margin-top: 19px;
    }
}

.footer {

    // .footer__links

    &__links {
        display: flex;
        justify-content: space-between;
        margin-top: 52px;
    }

    // .footer__links-item

    &__links-item {
        display: flex;
    }

    // .footer__links-item-p

    &__links-item-p {
        font-family: 'ReadexPro';
        font-size: 18px;
    }

    // .footer__links-item-a

    &__links-item-a {
        text-decoration: none;
        font-family: 'Inter';
        font-size: 18px;
        color: black;
    }

    &__links-image {
        fill: none;
        width: 21px;
        height: 18px;
    }
}
