.header {
    height: 80px;
    width: 100%;
    background: $white-color;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__logo-icon {
        width: 170px;
        height: 21px;
    }

    &__links {
        
    }

    &__links-list {
        display: flex;
        flex-direction: row;
        gap: 33px;
    }

    &__links-item {
        font-family: 'Inter';
    }

    &__links-link {
        text-decoration: none;
        display: inline-block;
    }

    &__icons {
        display: flex;
        flex-direction: row;
        gap: 22px;
    }

    &__icons-icon {
        fill: #fff;
        width: 24px;
        height: 24px;
    }
}
